<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Detalle de producto</title>
    </head>
<body>
    <%- include('../partials/header') %>
    <main class="detailmain">
        <div class="productandprice">
            <section class="productimg">
                <img class="prod" src=<%= productId?.src%>>
            </section>
            <section class="priceandinfo">
                <h1 class="nameofproduct"><%= productId?.name%></h1>
                <h2 class="priceofproduct"><%= productId?.price%></h2>
                <div class="logistic">
                    <i class="fas fa-truck"></i>
                    <h4 class="freesend">Envío Gratis</h4>
                </div>
                <h2 class="mediodepago">Medios de pago:</h3>
                <div class="logocards">
                    <img class="visacard" src="/img/logomastercard.png">
                    <img class="visacard" src="/img/logovisa.png">
                </div>

                <div class="opcionesdecompra">
                    <form class="formdecomprar" action="/products/productCart/<%= productId?.id%>" method="GET">
                        <div class="divcolors">
                            <label>Seleccione un color</label>
                            <select class="colord" name="colorstock">
                                <option value="#51B59F">Verde</option>
                                <option value="#FF0000">Rojo</option>
                                <option value="#000000">Negro</option>
                            </select>
                        </div>
                        <div class="divtalles">
                            <label>Seleccione un talle</label>
                            <select class="tallesd" name="tallestock">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="seleccioncuant">
                            <label>Selecciona la cantidad</label>
                            <input class="cuantd" type="text" name="cantidad">
                        </div> 
                        <div class="buttonagregar" ></div>
                            <button class="agregarDetail" method= "POST " type="submit"  value="Agregar"><p>Agregar al carrito</p>                            </button>    
                        </div>  
                    </form>
                </div>
            </section>
        </div>
        <div class="productdescription">
            <h1>DESCRIPCIÓN</h1>
            <p> <%= productId?.description%></p>
        </div>
        <div class="container">
            <form action="/contact" method="POST">
                <label>Comentarios sobre el producto</label>
                <div class="commentbox">    
                    <textarea name="comment" class="commentarea">Deje su comentario...</textarea>
                    <div class="buttonenviar">
                        <button class="enviar">Enviar</button>
                    </div>            
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>