<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/head') %>
    <title>Editar producto</title>
 </head>
<body>
    <%- include('../partials/header') %>
    <main class="mainForm">
        <form action="/products/modifiedProduct/<%= product.id%>?_method=PUT" method="post" class="forms" enctype="multipart/form-data">
            <h1 class="titulares">Ingrese el producto</h1>
            <div class="container">
                <div class="group">
                    <input type="text" id="name" name="nameProd" class="input" placeholder="" 
                        value="<%= product.nameProd%>" >
                    <label for="nameProd" class="label">Nombre del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.nameProd){ %>
                    <p class="fbFormsProd"> 
                        <%= errors.nameProd.msg %>
                    </p>    
                <% } %>
                
                <div class="group">
                    <input type="file" id="productImage" name="productImage" class="input" placeholder="" 
                        value="/img/products/<%= product.src%>" >
                    <label for="productImage" class="label">Imagen del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.productImage){ %>
                    <p class="fbFormsProd"> 
                        <%= errors.productImage.msg %>
                    </p>    
                <% } %>
                
                <div class="group">
                    <input type="number" id="price" name="price" class="input" placeholder=""
                        value="<%= product.price%>" >
                    <label for="price" class="label">Precio del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.price){ %>
                    <p class="fbFormsProd"> <%= errors.price.msg %></p>    
                <% } %>
                
                <div class="group">
                    <input type="text" id="description" name="description" class="input" placeholder=""
                        value="<%= product.description%>" >
                    <label for="description" class="label">Descripción del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.description){ %>
                    <p class="fbFormsProd"> <%= errors.description.msg %></p>    
                <% } %>
                
                <div class="group">
                    <h3 class="input">Colores (última actualización)</h3> 
                    <%=product.color%>
                    <h3 class="input">Actualice los colores en stock</h3>
                    <select id="color" name="color" class="input" placeholder="" size="5">
                        <% for(let i = 0; i < colors.length; i++) {%>    
                            <option value="<%= colors[i] %>"><%= colors[i] %></option>
                        <%}%>
                    </select>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.color){ %>
                    <p class="fbFormsProd"> <%= errors.color.msg %></p>    
                <% } %>
                
                <div class="group">
                    <h3 class="input">Talles (última actualización)</h3>  
                    <%=product.size%>
                    <h2 class="input">Actualice los talles en stock</h2>
                    <select id="size" name="size" class="input" placeholder="" size="6" value="<%= product.size%>">
                        <% for(let i = 0; i < sizes.length; i++) {%>    
                            <option value="<%= sizes[i] %>"><%= sizes[i] %></option>
                        <%}%>
                    </select>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.size){ %>
                    <p class="fbFormsProd"> <%= errors.size.msg %></p>    
                <% } %>
                
                <div class="group">
                    <select id="genre" name="genre" class="input" placeholder="" >
                            <option value="<%=product.genre%>"><%=product.genre%></option>
                            <option value="">Seleccione el genero del producto</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Unisex">Unisex</option>
                    </select>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.genre){ %>
                    <p class="fbFormsProd"> <%= errors.genre.msg %></p>    
                <% } %>
                
                <div class="group">
                    <input type="number" id="stock" name="stock" class="input" placeholder=""
                        value="<%= product.stock%>" >
                    <label for="stock" class="label">Stock del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.stock){ %>
                    <p class="fbFormsProd"> <%= errors.stock.msg %></p>    
                <% } %>
                
                
                
                <button type="submit" class="submit">Editar producto</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>