<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/head') %>
    <title>Añadir producto</title>
 </head>
<body>
    <%- include('../partials/header') %>
    <main class='mainForm'>
        <form action="/products/addProduct" method="POST" class="forms" enctype="multipart/form-data">
            <h1 class="titulares">Ingrese el nuevo producto</h1>
            <div class="container">
                <div class="group">
                    <input type="text" id="name" name="nameProd" class="input" placeholder=""
                    <%if(locals.old && old.name){%> 
                        value="<%= old.name%>"
                    <% } %> >
                    <label for="nameProd" class="label">Nombre del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.name){ %>
                    <p class="fbFormsProd"> 
                        <%= errors.name.msg %>
                    </p>    
                <% } %>
                
                <div class="group">
                    <input type="file" id="productImage" name="productImage" accept=".jpg, .png, .jpeg" class="input" placeholder=""
                    <%if(locals.old && old.productImage){%> 
                        value="<%= old.productImage%>"
                    <%}%> >
                    <label for="productImage" class="label">Imagen del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.productImage){ %>
                    <p class="fbFormsProd"> 
                        <%= errors.productImage.msg %>
                    </p>    
                <% } %>
                
                <div class="group">
                    <input type="number" min="1" id="price" name="price" class="input" placeholder=""
                    <%if(locals.old && old.price){%> 
                        value="<%= old.price%>"
                    <%}%> >
                    <label for="price" class="label">Precio del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.price){ %>
                    <p class="fbFormsProd"> <%= errors.price.msg %></p>    
                <% } %>
                
                <div class="group">
                    <input type="text" id="description" name="description" class="input" placeholder=""
                    <%if(locals.old && old.description){%> 
                        value="<%= old.description%>"
                    <%}%> >
                    <label for="description" class="label">Descripción del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.description){ %>
                    <p class="fbFormsProd"> <%= errors.description.msg %></p>    
                <% } %>
                
                
                <div class="group">
                    <h2 class="input">Seleccione el color</h2>
                    <select id="color" name="color" class="input" size="5">
                        <%if(locals.old && old.color){%>
                            <%for(let i = 0; i<old.color.length; i++){%>
                                value="<%= old.color[i]%>"
                            <%}%>
                        <%}%>>
                        <% for(let i = 0; i < colors.length; i++) {%>    
                            <option value="<%= colors[i] %>"><%= colors[i] %></option>
                        <%}%>
                    </select>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.color){ %>
                    <p class="fbFormsProd"> <%= errors.color.msg %></p>    
                <% } %>
                
                <div class="group">
                    <h2 class="input">Seleccione el talle</h2>
                    <select id="size" name="size" class="input" size="6">
                        <%if(locals.old && old.size){%> 
                            value="<%= old.size%>"
                        <%}%> >
                        <% for(let i = 0; i < sizes.length; i++) {%>    
                            <option value="<%= sizes[i] %>"><%= sizes[i] %></option>
                        <%}%>
                    </select>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.size){ %>
                    <p class="fbFormsProd"> <%= errors.size.msg %></p>    
                <% } %>
                
                <div class="group">
                    <select id="genero" name="genre" class="input" placeholder="">
                        <%if(locals.old && old.genre){%> 
                            <option value="<%=old.genre%>"><%=old.genre%></option>
                        <%} else {%> 
                            <option value="">Seleccione el genero del producto</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Unisex">Unisex</option>
                        <% } %>
                    </select>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.genre){ %>
                    <p class="fbFormsProd"> <%= errors.genre.msg %></p>    
                <% } %>
                
                <div class="group">
                    <input type="number" id="stock" name="stock" class="input" placeholder=""
                    <%if(locals.old && old.stock){%> 
                        value="<%= old.stock%>"
                    <%}%> >
                    <label for="stock" class="label">Stock del producto</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.stock){ %>
                    <p class="fbFormsProd"> <%= errors.stock.msg %></p>    
                <% } %>
                
                
                <button type="submit" class="submit">Añadir producto</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>