<!DOCTYPE html>
<html lang="en">
 <head>
    <%- include('../partials/head') %>
    <title>Añadir producto</title>
    <script src="/js/getProductForm.js"></script>
 </head>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="/products/addProduct" method="POST" enctype="multipart/form-data">
            <div class="form__container">
                <h1>Agregar un producto</h1>
                <div class="form__container-div1">
                    <div class="group__input">
                        <label for="name">Nombre del producto</label>
                        <input type="text" name="name" id="input__productName" placeholder="Ingresa el nombre del producto">
                    </div>
                    <div class="group__input">
                        <label for="description">Descripción</label>
                        <textarea name="description" id="input__productDescription" cols="30" rows="3" placeholder="Ingresa la descripción del producto"></textarea>
                    </div>
                    <div class="group__input">
                        <label for="price">Precio</label>
                        <input type="number" min="1" max="200000" name="price" id="input__productPrice">
                    </div>
                    <div class="group__input">
                        <label for="category">Categoría</label>
                        <select name="category" id="input__productCategory">
                            <option value="">Seleccione una categoría</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Unisex">Unisex</option>
                        </select>
                    </div>
                    <div class="group__input">
                        <label for="images">Imagenes del producto</label>
                        <input type="file" name="images" id="input__productImages" multiple accept=".jpg, .png, .jpeg, .svg, .webp">
                    </div>
                </div>
                <div class="form__container-div2">
                    <div class="cantidad_colores">
                        <label for="cantColores">Cantidad de colores del producto</label>
                        <input type="number" min="1" max="20" name="cantColores" id="input__productCantColores" value="1">
                        <button id="cantColoresButton">Agregar colores</button>
                    </div>
                    <div class="group__color-talle">
                            <%for(let i = 0; i < 2; i++) { %>
                                <div class="group__color-talle-n">
                                    <div class="group__color">
                                        <label for="color">Color</label>
                                        <select name="color" id="input__productColor">
                                            <option value="">Seleccione un color</option>
                                            <% for(let i = 0; i < colores.length; i++) { %>
                                                <option value="<%=i + 1%>"><%=colores[i]%></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="group__talle">
                                        <% for(let i = 0; i < talles.length; i++) { %>
                                            <div class="talle">
                                                <label for="talle"><%= talles[i] %></label>
                                                <input type="checkbox" name="talle" class="input__productTalle">
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                    </div>
                    <div class="group__cantidad">
                        <label for="">STOCK</label>
                        <p id="cantidadStock">0</p>
                    </div>
                </div>
                <input type="submit" value="Agregar Producto" id="submitButton">
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>