<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Sección <%= genre %> </title>
    </head>
<body>    
    <%- include('../partials/header') %> 
    <section class="banner">
        <img src="/img/banner.png" alt="Banner">
    </section>
    
    <main>
        <section class="kids">
            <div id="titulares">
                <h4 class="titulares"> Ropa para 
                    <% if(genre == 'Masculino'){ %> 
                        niños
                    <% } else {%>
                        niñas
                    <% } %> </h4>
            </div>
            <% for(let i=0; i < productos.length; i++){ %>
                <% if(genre == productos[i].genre) {%>
                    <article class="article">
                        <a href="/products/detailproduct/<%= productos[i].id %>">
                            <img src=/img/products/<%= productos[i].src %> alt=<%= productos[i].name %> class="product_img">
                            <p class="price">$<%=productos[i].price %></p>
                            <h4 class="description"><%=productos[i].name%></h4>
                        </a>
                    </article>
                <% } %>
            <% } %>
        </section>        
    </main>

    <%- include('../partials/footer') %>

</body>
</html>