<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>LISTADO PRODUCTOS</title>
    </head>
<body>    
    <%- include('../partials/header') %> 
    <section class="banner">
        <img src="/img/banner.png" alt="Banner">
    </section>
    
    <main>
        <section class="listadoProductos">
            <% for(let i=0; i < productos.length; i++){ %>
                    <article class="article">
                       
                            <img src=/img/products/<%= productos[i].src %> alt=<%= productos[i].nameProd %> class="product_img">
                            <p class="price"><%=productos[i].price %></p>
                            <h4 class="description"><%=productos[i].nameProd%></h4>
                            <div class="elim">
                                <form method="post" action="/products/list/<%= productos[i].id%>?_method=delete" class="formbotelim">
                                    <div>
                                        <button class="botonelim" type="submit">        
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </div>

                                </form>
                                <br>
                            </div>
                            <div class="editarProducto">
                                <form method="get" action="/products/editProduct/<%= productos[i].id%>" class="formeditar">
                                    <div>
                                        <button class="botonEdit" type="submit">        
                                            <i class="fa-solid fa-pencil"></i>
                                        </button>
                                    </div>
                                </form>
                                <br>
                            </div>
                        
                    </article>
                
            <% } %>
        </section>        
    </main>

    <%- include('../partials/footer') %>

</body>
</html>