<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>carrito de compras</title>
    </head>
<body>
    
<%- include('../partials/header') %> 
    <main class="productcart">
        <% let suma = 0 
           let totalCant = 0 %>
        <h2 class="carrito">Mi carrito</h2>
        <% if (carrito.length == 0){%>
            <div class="carrito-vacio">
                <h3>Todavia no seleccionó ningún producto</h3>
            </div>
        <% } else {%>
            <div class="todo-junto">
                <section class="carrito">
                    <ul type="none" class="tabla">
                        <li>Producto</li>
                        <li>Detalle</li>
                        <li>Color</li>
                        <li>Talle</li>
                        <li>Cantidad</li>
                        <li>Precio</li>
                        <li></li>
                    </ul>
                    <% for(let i=0; i<carrito.length; i++){%>
                        <article class="articulo">
                            <div class="imagen">
                                <img src="/img/products/<%= carrito[i].newBuy.src %>" alt="<%= carrito[i].newBuy.nameProd %>">
                            </div>
                            <div class="detalle">
                                <p class="descrip-campo">Producto: </p>
                                <p><%= carrito[i].newBuy.nameProd%></p>
                            </div>
                            <div class="color-prod">
                                <p class="descrip-campo">Color: </p>
                                <p><%= carrito[i].newBuy.color %></p>
                            </div>
                            <div class="talle">
                                <p class="descrip-campo">Talle: </p>
                                <p><%= carrito[i].newBuy.size %></p>
                            </div>
                            <div class="cantidad">
                                <p class="descrip-campo">Cantidad: </p>
                                <p><%= carrito[i].newBuy.cantidad %></p>
                            </div>
                            <div class="precio">
                                <% if(carrito[i].newBuy.cantidad > 1) {%>
                                    <% totalCant = carrito[i].newBuy.price * carrito[i].newBuy.cantidad%>
                                    <p class="descrip-campo">Precio: </p>
                                    <p>$<%= totalCant %></p>
                                <% } else { %>
                                    <p class="descrip-campo">Precio: </p>
                                    <p>$<%= carrito[i].newBuy.price %></p>
                                <% } %>
                            </div>
                            <div class="elim">
                                <form method="post" action="/products/productCart/<%= carrito[i].newBuy.id %>?_method=delete" class="formbotelim">
                                    <div>
                                        <button class="botonelim" type="submit">        
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </article>
                    <% } %>  
                </section>                   
            
                <section class="Resumen"> 
                    <h3>RESUMEN</h3>
                
                    <div class="subtotal-art">
                        <h3>Subtotal</h3>
                        <%for(let i=0; i<carrito.length; i++){ %>
                            <% let price = parseInt(carrito[i].newBuy.price);
                            suma = suma + (price * carrito[i].newBuy.cantidad) %>
                        <% } %>
                        <h3>$<%= suma %></h3>
                    </div>
                    <div class="envio">
                        <h3>Envio</h3>
                        <h3>$ 0,00</h3>
                    </div>
                    <div class="codigo-descuento">
                        <h3>Cod.Descuento:</h3>
                        <input type="descuento" name="codigo-desc">
                    </div>
                    <div class="Total">
                        <h3>Total</h3>
                        <h3>$<%= suma %></h3>
                    </div>
                </section>
            </div>
        
            <div class="subtotal">
                <h4>Subtotal</h4>
                <h4>$<%= suma %></h4>
            </div>
        <% } %>

        <div class="botones">
            <form class="bot-continuar" action="/" method="GET">
                <button class="botonCarrrito" type="submit" name="continuar" alt="#">CONTINUAR</button>
            </form>

            <form class="bot-continuar" action="/comprar" method="POST">
                <button class="botonCarrrito" type="submit" name="finalizar" alt="#">FINALIZAR</button>
            </form>
        </div>

    </main>
    <%- include('../partials/footer') %>
</body>
</html>