<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Carrito de compras</title>
    </head>
<body>
    
<%- include('../partials/header') %> 
    <main class="productcart">
        <h2 class="carrito">Mi Carrito</h2>
        <div class="todo-junto">
            <section class="Carrito">
            
                <ul type="none" class="tabla">
                    <li>Producto</li>
                    <li>Detalle</li>
                    <li>Color</li>
                    <li>Talle</li>
                    <li>Cantidad</li>
                    <li>Precio</li>
                </ul>
             <article class="articulo">
                <h3>Producto</h3>

 
                <div class="imagen">
                    <img src=<%= productId?.src%> alt="top_verde">
                    <br>
                </div>
                <div class="detalle">
                    <p><%= productId?.name%></p>
                    <br>
                </div>
                <div class="color-prod">
                    <label class="titulo">Color:</label>
                    <select class="color" name="colortop">
                        <option value="#51B59F">Verde</option>
                        <option value="#FF0000">Rojo</option>
                        <option value="#000000">Negro</option>
                    </select>
                    <br>
                </div>
                <div class="talle">
                    <label class="titulo">Talle:</label>
                    <select name="select" id="talle">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <br>
                </div>
                <div class="cantidad">
                    <label class="titulo">Cantidad:</label>
                    <select name="select" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <br>
                </div>
                <div class="unitario">
                    <p><%= productId?.price%></p>
                    <br>
                </div>
                <div class="elim">
                    <i class="fa-solid fa-trash-can"></i>
                    <br>
                </div>
            
            </article>
            

            <div class="subtotal">
                <h4>Subtotal</h4>
                <h4><%= productId?.price%></h4>
            </div>             
          
        </section>
        
        <section class="Resumen"> 
            <h3>RESUMEN</h3>
           
            <div class="subtotal-art">
                <h3>Subtotal</h3>
                <p><%= productId?.price%>></p><br>
            </div>
            <div class="envio">
                <h3>Envio</h3>
                <p>$ 0,00</p><br>
            </div>
            <div class="codigo-descuento">
                <H3>Cod.Descuento:</H3><br>
                <input type="descuento" name="codigo-desc">
            </div>
            <div class="Total">
                <h3><b></b>Total</h3>
                <p><b></b><%= productId?.price%></p><br>
            </div>
     
        </section>
        </div>

        <div class="botones">
            <form class="bot-continuar" action="/" method="GET">
                <button class="botonCarrrito" type="submit" name="continuar" alt="#">CONTINUAR</button>
                <button class="botonCarrrito" type="submit" name="finalizar" alt="#">FINALIZAR</button>
            </form>
        </div>

    </main>
    <%- include('../partials/footer') %>
</body>
</html>