<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Keep Fit Kids</title>
</head>

<body>
    <%- include('./partials/header') %>
    <section class="banner">
        <img src="/img/banner.png" alt="Banner">
    </section>
    <main>
        <div class="eleccion">
            <div class="niños">
                <a href="/nenes" id="niños"><img src="/img/nenes/nenes.png" alt="Imagen niños"></a>
            </div>
            <br>
            <br>
            <div class="niñas">
                <a href="/nenas" id="niñas"><img src="/img/nenas/nenas.png" alt="Imagen niñas"></a>
            </div>
        </div>
        
        <section class="nuevos-ingresos">
            <div id="titulares">
                <h4 class="titulares">  NUEVOS INGRESOS  </h4>
            </div>
            <% for(let i=0; i < nuevosIngresos.length; i++){ %>
                <article class="article">
                    <a href="/detailproduct">
                        <img src=<%= nuevosIngresos[i].src %> alt=<%= nuevosIngresos[i].name %> class="product_img">
                        <p class="price"><%= nuevosIngresos[i].price %></p>
                        <h4 class="description"><%=nuevosIngresos[i].name%></h4>
                    </a>
                </article>
            <% } %>
        </section>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>