<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Perfil de usuario</title>
    </head>
<body>
    <%- include('../partials/header') %>
    <main class="profileUser">
        <% if(locals.userLogged.role != 1) { %>
            <div class="perfilTituloEdit">
                <h1 id="miPerfil"> Mi perfil </h1>
                <a href="/users/editProfile" id="linkEdit">
                    <i class="fa-regular fa-pen-to-square" id="iconEdit"></i>
                </a>
            </div>
        <% } else { %>
            <div id="editAdmin-container">
                <div class="perfilTituloEdit">
                    <h1 id="miPerfil"> Mi perfil </h1>
                    <a href="/users/editProfile" id="linkEdit">
                        <i class="fa-regular fa-pen-to-square" id="iconEdit"></i>
                    </a>
                </div>
                <div id="boton-admin-container">
                    <a href="/users/adminPanel" id="boton-admin">Panel de Administrador</a>
                </div>
            </div>
        <% } %>
        <container class="userInformation">
            <div class="titleBox">
                <h2>Foto de perfil</h2>
            </div>
            <h2 id="tituloDatos">Mis Datos</h2>
            <div class="fotoDePerfil">
                <img src="/img/users/<%=user.avatar%>" alt="Profile Image" class="profileImage">
            </div>
            <div class="datos">
                <div class="userBox">
                    <h3>Nombre de usuario</h3>
                    <h4> <%= user.name %></h4>
                </div>
    
                <div class="userBox">
                    <h3>Nombre y apellido</h3>
                    <h4 id="userName"> <%= user.first_name %> <%= user.last_name %> </h4>
                </div>
    
                <div class="userBox">
                    <h3>Datos de ingreso</h3>
                    <h4> <%= user.email %></h4>
                </div>
            </div>
        </container>

        <div class="logOut">
            <form method="post" action="/users/logOut" class="formLogOut">
                <div>
                    <button class="buttonLogOut" type="submit">        
                        <p>Cerrar Sesión</p>
                    </button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>