<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Registra una cuenta</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="mainForm">
        <form action="/users/register" method="POST" class="forms" enctype="multipart/form-data">
            <h2 class="titulares">Registra una cuenta</h2>

            <div class="container">
                <div class="group">
                    <input type="email" name="email" id="email" class="input" placeholder=" "
                    <% if(locals.old && old.email){%>
                        value="<%= old.email %>"
                    <% } else { %>
                        value=""
                    <%} %>>
                    <label for="email" class="label">Email:</label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.email){ %>
                    <p class="fbFormsProd"> <%= errors.email.msg %> </p>    
                <% } %>

                <div class="group">
                    <input type="password" name="password" id="password" class="input" placeholder=" ">
                    <label for="password" class="label">Contraseña: </label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.password){ %>
                    <p class="fbFormsProd"> <%= errors.password.msg %> <p>    
                <% } %>

                <div class="group">
                    <input type="text" name="name" id="name" class="input" placeholder=" " 
                    <% if(locals.old && old.name){%>
                        value="<%= old.name %>"
                    <% } else { %>
                        value=""
                    <%} %>>
                    <label for="name" class="label">Nombre: </label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.name){ %>
                    <p class="fbFormsProd"> <%= errors.name.msg %> </p>    
                <% } %>

                <div class="group">
                    <input type="text" name="lastname" id="lastname" class="input" placeholder=" "
                    <% if(locals.old && old.lastname){%>
                        value="<%= old.lastname %>"
                    <% } else { %>
                        value=""
                    <%} %>>
                    <label for="lastname" class="label">Apellido: </label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.lastname){ %>
                    <p class="fbFormsProd"> <%= errors.lastname.msg %> </p>    
                <% } %>

                <div class="group">
                    <input type="file" name="avatar" id="avatar" class="input" placeholder=" " accept=".jpg, .png, .gif" value="">
                    <label for="avatar" class="label">Foto de perfil: </label>
                    <span class="line"></span>
                </div>
                <% if(locals.errors && errors.avatar){ %>
                    <p class="fbFormsProd"> <%= errors.avatar.msg %> </p>    
                <% } %>

                <input type="submit" class="submit" value="Registrarse">
            </div>
        </form>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>